 <div class = "errors">
  <% if @errors %>
    <h3> Please fix the following mistakes so we can process your request. </h3>
    <% @errors.each do |error| %>
      <p> <%= Event.messages(error[0]) %> </p>
    <% end %>
  <% end %>
  </div>
   <br>


<div class = "form" >
  <%= form_for @event do |f| %>
  <%= f.label :title %>:
  <%= f.text_field :title %><br />

  <%= f.label :artist %>:
  <%= f.text_field :artist %>  <button type = button id = "supporting"> Add opening act</button> <br />

  <div id = "artist_second" visibility: hidden>
    <%= f.label :artist_second %>:
    <%= f.text_field :artist_second %> <br />
  </div>

  <div id = "artist_third" visibility: hidden>
    <%= f.label :artist_third %>:
    <%= f.text_field :artist_third %> <br />
  </div>

  <div id = "artist_fourth" visibility: hidden>
    <%= f.label :artist_fourth %>:
    <%= f.text_field :artist_fourth %> <br />
  </div>

   <%= f.label :date %>:
  <%= f.date_field :date %> <br />

   <%= f.label :price %>:
  <%= f.text_field :price %> <br/>

  <%= f.label :url %>:
  <%= f.text_field :url %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>

