 <div class = "errors">
  <% if @errors %>
    <p> Please fix the following mistakes so we can process your request. </p>
    <% @errors.each do |error| %>
      <p> <%= Event.messages(error[0]) %> </p>
    <% end %>
  <% end %>
  </div>
   <br>



  <%= form_for @event do |f| %>
  <%= f.label :title %>:
  <%= f.text_field :title %><br />

  <%= f.label :artist %>:
  <%= f.text_field :artist %><br />

   <%= f.label :artist_second %>:
  <%= f.text_field :artist_second %><br />

   <%= f.label :artist_third %>:
  <%= f.text_field :artist_third %><br />

   <%= f.label :artist_fourth %>:
  <%= f.text_field :artist_fourth %><br />

   <%= f.label :date %>:
  <%= f.date_field :date %> <br />

   <%= f.label :price %>:
  <%= f.text_field :price %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

