<h1>Upcoming Shows</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
    <div class = "event">
      <div class = "title" >
        <h2> Event Title: <%= event.title %> </h2>
      </div>
      <div class = "main_act">
        <h2>Headliner: <%= event.artist %> </h2>
    </div>
      <% if event.artist_second %>
        Openers: <%= event.artist_second + (" , " + event.artist_third) if event.artist_third + (" , " + event.artist_fourth) if event.artist_fourth  %> 
      <% end %>
      <h3> Date:   <%= event.date %>
           Price: $<%= event.price %>
      </h3>
        <div class = "options">
        <%= link_to 'Share With Friends', event %>
       <%= link_to 'Edit Event', edit_event_path(event) %>
        <%= link_to 'Delete Event', event, method: :delete, data: { confirm: 'Do you want to delete this event?' } %>
      </div>
    </div>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event', new_event_path %>
